In [2]:
# - 6 - 4 - 2022

In [4]:
import pandas as pd

df = pd.read_csv("Data_for_Missing_Values.csv")

df.head(5)

   Country   Age   Salary Purchased
0   France  44.0  72000.0        No
1    Spain  27.0  48000.0       Yes
2  Germany  30.0  54000.0        No
3    Spain  38.0  61000.0        No
4  Germany  40.0      NaN       Yes

# Python String find() method

تُرجع الدالة  فهرس النص من السلسلة الرئيسية إذا تم العثور عليها في سلسلة معينة. 

إذا لم يتم العثور عليه فإنه يعيد -1.

In [ ]:
# apply with out csv file.

In [8]:
# Select word from text

words = "I learn Python For data science"

results = words.find("data")

print("Your search about word is ' data' i found at index", results)

Your search about word is ' data' i found at index 19

In [13]:
# used condition 

words = "I learn Python For data science "

getword = "hello"

if (getword in words):
    
    print(" i get the word")
else:
    
    print("Try again please")

Try again please

In [14]:
# Apply in csv data.